//...  Contents 영역 --> 
.details1 {
    width: 100%;
    height: 100%;

.tab-wrapper {
    max-width: 1180px;
    width: 100vw;
    height: 30%;
    border: 2px solid #ccc;
    position: relative;
    margin: 50px auto;
        .tab-menu {
            display: flex;
            border-bottom: 1px solid $shade0;  
            height: 60px;
            font: bold 15px/30px 'Noto Sans', sans-serif;
            // position: relative;
            &::after {
                content: '';
                display: block;
                clear: both;
            }
            li {
                flex: 1;
                border: 1px solid #ddd;
                border-left: none;
                a {
                    display: block;
                    height: 60px;
                    font-size: 14px;
                    color: #555;
                    text-align: center;
                    line-height: 60px;
                    border: 1px solid #ddd;
                    transition: 0.3s;
                   &.active {
                    background : $shade0;
                    color: #fff;
                    font-size: 16px;
                   }  
                }
            } //li
            
        } //tab-menu
    }
    #tab-content {
        height: 25vw;
        padding: 20px 30px;
        background-color: $tint80; 

        div {
            display: none;            
            h3 {
                font: $h2_font;
                font-weight: bold;
                margin-bottom: 10px;
                color: #333;
            }
            p {
                font: $p_font;
                color: #444;
            }
            &:first-child {
                display: block;
            }
        }
    } //tab-content
#box {
    width: 100%;
    height: 100%;
    padding: 100px 0;
    .container {
        max-width: 1180px;
        width: 100vw;
        height: 100%;
        margin: 0 auto;
        position: relative;
        .wrap {
            width: 100%;
            &::after {
                content: '';
                display: block; 
                clear: both;
            }
            article {
                width: 24%; 
                height: 250px; 
                float: left;
                margin-right: 1%; 
                background-color: #e7f5f4;
                padding: 30px 20px;
                position: relative;
                border-radius: 10px; 
                box-shadow: 0 0 10px (0,0,0,0.1);
                h2 {
                    font: $s_font;
                    color: #444;
                    margin-bottom: 15px;
                }
                    p {
                        font: $p_font;
                        a {
                            font: bold 14px 'arial';
                            color: #555;
                            letter-spacing: 2px;
                        }
                    }
                .btnMore{
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    z-index: 1;
                    color: #8bd1c9;  
                  }
            }
                &:last-of-type {
                    margin-right: 0px;
                } 
    } //wrap
} //container
} //box
}


//-----FOR TABLET
@media screen and (max-width: $tablet) {    
.tab-wrapper {
    width: 100vw;
    height: 100%;
}
#box {
    .container {
        width: 100vw;
        .wrap {
            width: 100%;
            height: 100vh;
            article {
                width: 48%;
                height: 100%;
                margin: 0 auto;
            }
        }
    }
}  
}


//------FOR MOBILE--------
@media screen and (max-width: $mobile) {
    .tab-wrapper {
        margin: 20px auto;
            .tab-menu {
                height: 30px;
                font: bold 10px/30px 'Noto Sans', sans-serif;
                }
                 a {
                        height: 30px;
                        font-size: 10px;

                        line-height: 30px;

                       &.active {
                        font-size: 12px;
                       }  
                    }
                } //li
                
            
        
        #tab-content {
            height: 100%;
            padding: 10px 15px;
            
        } 
        #box {
                    article {
                        width: 100%; 
                        height: 100%;
                        .btnMore{ 
                            top: 5px;
                            right: 5px;
                          }
                    }
        } 
}  //media-MOBILE