.gallery3 {
    width: 100%;
    height: 100%;
.inner {
    width: 100%;
    height: 100%;
    #slider {
        margin: 50px auto;
        position: relative;
        height: 500px;
        .slider_item {
             width: 100vw;
             height: 100%;
             display: flex;
             justify-content: center;
             align-items: center;
             color: #fff;
             position: absolute;
             top: 0;
             z-index: 0;
             opacity: 0;
             transition: opacity 0.5s ease-in-out;
             transform: scale(0.9);
             
        }
        .showing {
             z-index: 1;
             opacity: 1;
             transform: none;
         }
     }
 }
}

//------FOR MOBILE--------
@media screen and (max-width: $mobile) {
//------mobile- HEADER_SUB-------
    #slider {
        width: 30%;
        height: 30%;
        margin: 0 auto;
        transform: translateX(-133px);
        .slider_item {
            img {
            transform: scale(0.7);
            }
        }
    }
}  