//...HEADER_SUB ...
#header_sub {
        width: 100%;
        // min-width: 1180px;
        height: 100px;
        margin-bottom: 25px;
        .container {
            width: 1180px;
            height: 100%;
            margin: 0 auto;
            position: relative; 
            > h1 {
                > a {
                    font: bold 3.2rem 'Noto Sans', sans-serif;
                    color: #444;
                    padding: 0 20px;
                    // display: block;
            }
        }
    //...header menu_web
            .menu_web {
                #gnb {
                    top: 0;
                    position: absolute;   
                    .menu { 
                        float: left;
                        width: 120px;
                        margin-top: 90px;
                        padding: 5px 30px 10px 15px;
                        z-index: 10;
                        text-align: center;
                        cursor: pointer;
                        &:hover {
                            background: $shade0;
                            border-radius: 5px;
                            .sub_menu1 {
                                display: block;
                                position: absolute;
                                margin-top: 10px;
                                margin-left: -15px;
                                background: #aaa;
                                border-radius: 5px;
                                ul {
                                    li {
                                        width: 120px;
                                        padding: 10px 10px 10px 25px;
                                        border-bottom: 1px dashed #ddd;
                                        background: transparent;
                                        text-align: left;
                                        font: 14px/1 "arial";
                                        color: #ccc;
                                        &:last-child {
                                            border-bottom: none;
                                        }
                                        a:hover {  
                                            color: $shade0;
                                        }
                                        .fa-angle-right {
                                            float: right;
                                        }
                                        &.isSub:hover .sub_menu2 {
                                            position: absolute;
                                            display: block;
                                            background: $tint60;
                                            margin-top: -25px;
                                            margin-left: 160px;
                                            border-radius: 5px;
                                        }
                                    } //li
                                } //ul
                            } //sub_menu_1
                        } //hover
                        a { 
                            font: bold 15px/1 "arial";
                            color: #777;
                        } //a
                        .sub_menu1 {
                            display: none;
                            z-index: 9;
                            cursor: pointer;
                            a {
                                font: bold 14px/1 "arial";
                                color: #fff; 
                            }
                                .sub_menu2 {
                                    display: none;
                                    z-index: 10;
                                    left: -40px;
                                    position: absolute;
                                    a {
                                font: bold 13px/1 "arial";
                                color: $shade20;
    
                                    }
                                } //sub_menu2
                            } //sub_menu1
                    } //menu
                } //gnb    
            } //menu_web
            form {
                .wrap{
                    top: 0;
                    right: 0;
                    width: 40%;
                    margin: 10px 0px 15px;                   
                    display: block;
                    position: absolute;
                    // font-size: 1rem;
                    label {
                        font: 0.7rem 'arial';
                        color: #666;
                    }
                    input[type=text] {
                        border-radius: 5px;
                        border: 1px solid #aaa;
                        cursor: pointer; 
                    }
                    input[type=password] {
                        border-radius: 5px;
                        border: 1px solid #aaa;
                        cursor: pointer; 
                    }
                } //form.wrap
            } //form
            .f_box {
                    width: 300px;
                    height: 100px;
                    position: absolute;
                    top: 0;
                    margin: 70px 0px 10px; 
                    right: 0;
                    input[type=text] {
                        background-color: #fff;
                        width: 230px;
                        height: 40px; 
                        padding: 10px;
                        margin-right: -7px;
                        border: 1px solid $shade20;
                        border-radius: 25px 0 0 25px;
                        cursor: pointer;
                    }
                    input[type=text]::placeholder {
                        color: $shade0;
                        font-weight: bold;
                    }
                    input[type=submit] {
                        width: 60px;
                        height: 40px;
                        padding: 10px;
                        border: none;
                        background-color: $shade20;
                        border-radius: 0 25px 25px 0;
                        cursor: pointer;    
                }    //input
            }    //f_box       
            .btnCall {
                position: absolute;
                right: 30px;
                top: 50%;
                transform: translateY(-50%);
                display: none;
                width: 30px;
                height: 30px;
                z-index: 11;
                &::before {
                    content: "";
                    display: block;
                    width: 80%;
                    height: 3px;
                    background: #444;
                    position: absolute;
                    top: 0;
                    left: 5px;
                    border-radius: 1.5px;
                    transition: top 0.5s 0s, transform 0.5s 0.5s;
                }
                &::after {
                    content: "";
                    display: block;
                    width: 80%;
                    height: 3px;
                    background: #444;
                    position: absolute;
                    bottom: 0;
                    left: 5px;
                    border-radius: 1.5px;
                    transition: bottom 0.5s 0s, transform 0.5s 0.5s;
                }
                span {
                    display: block;
                    width: 80%;
                    height: 3px;
                    background: #666;
                    position: absolute;
                    top: 50%;
                    left: 5px;
                    margin-top: -1px;
                    transition: 1s;
                    border-radius: 1.5px;
                    text-indent: -9999px;
                }
                &.on {
                    &::before {
                        top: 50%;
                        margin-top: -1px;
                        transform: rotate(45deg);
                    }
                    &::after {
                        bottom: 50%;
                        margin-bottom: -1px;
                        transform: rotate(-45deg);
                    }
                    span {
                        transform: translateX(100%);
                        opacity: 0;
                    }
                } //.on
            } //btnCall
    //...header menuMo
            .menuMo {
                width: 220px;
                height: 100vh;
                background: #333;
                position: fixed;
                top: 0;
                left: -270px;
                padding: 35px 30px;
                z-index: 10;
                transition: 0.5s; 
                display: none;
                &.on {
                    left: 0;
                    } //menuMo &.on
                    .menu {
                        margin: 20px auto;
                        padding: 10px 10px;
                        border-bottom: 3px solid $shade0;
                        border-radius: 1.5px;
                        a {
                            font-size: 18px;
                        }
                    &:hover {
                        background: $shade0;
                        border-radius: 5px;
                        .sub_menu1 {
                            display: block;
                            position: absolute;
                            margin-top: 10px;
                            margin-left: 147px;
                            background: #aaa;
                            border-radius: 5px;
                            ul {
                                li {
                                    width: 180px;
                                    padding: 20px;
                                    border-bottom: 1px dashed #ddd;
                                    background: transparent;
                                    align-items: center;
                                    text-align: left;
                                    font: 1.1rem 'Noto Sans', sans-serif;
                                    
                                    color: #ccc;
                                    &:last-child {
                                        border-bottom: none;
                                    }
                                    a:hover {  
                                        color: $shade0;
                                    }
                                    .fa-angle-right {
                                        float: right;
                                        font-size: 20px;
                                        
                                    }
                                    &.isSub:hover .sub_menu2 {
                                        position: absolute;
                                        display: block;
                                        background: $tint60;
                                        margin-top: -65px;
                                        margin-left: 160px;
                                        border-radius: 5px;
                                        font: 1.0rem 'Noto Sans', sans-serif;
                                    }
    
                                } //li
                        } //ul
                    } //sub_menu1
                } //hover
            }   //on.menu      
            .close {
                display: block;
                z-index: 10;
                color: #999;
                font-size: 40px; 
                text-align: right;   
            }
                .sub_menu1 {
                    display: none;
                    
                    .sub_menu2 {
                        display: none; 
                    }
                } //sub_menu1		
                #gnbMo {
                    li {
                        a {
                            display: block;
                            width: 100%;
                            padding: 20px 0;
                            border-bottom: 1px solid #444;
                            font: bold 14px/1 "arial";
                            color: #888;
                            text-align: center;
                        }
                    } //li
                } //#gnbMo
            } //menuMo
        } //container
    } //HEADER

//...  Contents 영역 --> 
#slider {
   width: 100%;
   margin: 50px auto;
   position: relative;
   .slider_item {
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        position: absolute;
        top: 0;
        z-index: 0;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        transform: scale(0.9);
        
   }
   .showing {
        z-index: 1;
        opacity: 1;
        transform: none;
    }
}
//...FOOTER_SUB ...
#footer_sub {

    margin-top: 600px;
    width: 100%;

    // min-width: 1180px;
    height: 350px;
    .container {
        width: 1180px;
        height: 100%; 
        display: flex;
        flex-wrap: wrap;
        position: relative;
        justify-content: center;
        margin: 0 auto; 
        color: #fff;
        border-radius: 10px;
        background-color: #444;
        box-shadow: 0 0 10px (0,0,0,0.1);
        .article1 {
            width: 380px;
            height: 350px;
            background-color: #444;               
            padding: 50px 25px;
            border-radius: 10px;
            box-shadow: 0 0 10px (0,0,0,0.1);
                a {
                    font: bold 35px/1 'Yanone Kaffeesatz', sans-serif;
                    color: #fff;    
                }
                li {
                    h3 {
                        font: normal 15px/24px 'Nanum Gothic', sans-serif;
                        margin-top: 15px;
                        margin-bottom: 20px;
                    }
                    p {
                        font: 15px/27px 'Noto Sans', sans-serif; 
                    }
                } //li
            } //article1
        .article2 {
            background-color: #444;
            width: 380px;
            margin: 0 20px;
            padding: 50px 25px;
            border-radius: 10px;
            box-shadow: 0 0 10px (0,0,0,0.1);
            h4 {
                font: 22px/24px 'Nanum Gothic', sans-serif;
                margin-top: 15px;
                margin-bottom: 20px; 
            }
            li {
                h3 {
                    font: normal 15px/24px 'Nanum Gothic', sans-serif;
                    margin-top: 15px;
                    margin-bottom: 20px;
                }
                p {
                    font: 15px/27px 'Noto Sans', sans-serif; 
                }
            }
        } //article2
        .article3 {
            width: 380px;
            
            border-radius: 10px;
            background-color: #444;
            box-shadow: 0 0 10px (0,0,0,0.1);
            p {
                font: normal 10px/26px 'Noto Sans', sans-serif;
                padding: 50px 30px;   
            }
            .b_util {
                width: 380px;
                margin: 30px auto;
                position: relative;
                display: flex;
                justify-content: center;
               
                .f_link {
                    a {
                        font-size: 25px;
                        color: #fff;
                        padding: 20px 10px;
                    }
                }
                    
            } //b_util
            } //f_box
        } //article3
        } //...FOOTER ...
//tablet,mobile -T_FOOTER_SUB
#t_footer_sub {
    display: none;
    // width: 90%;
    height: 250px;
    .container {
        width: 100vw;
        position: relative;
        text-align: center;
        margin: 0 auto; 
        display: block;
        float: center;
        color: #fff;
        border-radius: 10px;
        background-color: #444;
        box-shadow: 0 0 10px (0,0,0,0.1);
        a {
            font: bold 20px/1 'Yanone Kaffeesatz', sans-serif;
            color: #fff;    
        }
        li {
            h3 {
                font: normal 13px/24px 'Nanum Gothic', sans-serif;
                margin-top: 10px;
                margin-bottom: 20px;
            }
            p {
                font: 12px/20px 'Noto Sans', sans-serif; 
            }
        } //li
        .b_util {
            width: 60%;
            margin: 20px auto;
            position: relative;
            display: flex;
            justify-content: center;
           
            .f_link {
                a {
                    font-size: 20px;
                    color: #fff;
                    padding: 20px 10px;
                }
            }
                
        } //b_util
    }
} //...-T_FOOTER ...

//-----FOR TABLET
@media screen and (max-width: $tablet) {
    body {
        width: 100%;
        height: 100vh;
//----tablet - header_sub
	#header_sub {
		.container {
			width: 100%;
			height: 100vh;
            margin-left: 30px;
			.menu_web {
				display: none;
			}
            .wrap {
                width: 15%;
                margin: -50px 0px 100px 220px;
                position: relative;   
            }
            .f_box {
                display: none;
            }
            .menuMo {
                display: block;
            }  
			.btnCall {
				display: block;
                background-color: #ccc;
                padding: 20px 20px;
                border-radius: 10px;
                top : 40px;
                position: fixed;
			}
		}
	} //-----tablet -header
//-----tablet -tab-wrapper





// 	// tablet- footer_sub

	#footer_sub {		
        display: none;
}// ---mobile-footer_sub
// 	// tablet- t_footer
    #t_footer_sub {
        display: block;
        height: 50%;
        .container {
            margin: 0 auto;
            height: 100%;
            // height: 300px;
            // width: 100%;
            h1 {
                font: 20px/30px 'Noto Sans', sans-serif;   
                margin-top: 0;
                padding: 0;
                }
            }   
        } //---mobile- t-footer_sub
    } //--tablet -body
    } //media-TABLET

//------FOR MOBILE--------
@media screen and (max-width: $mobile) {
//------mobile- HEADER_SUB-------
    #header_sub {
		.container {
			width: 100%;
			height: 100vh;
            margin-left: 10px;
            a {
                font: bold 24px 'Yanone Kaffeesatz', sans-serif; 
                padding: 0;
            }
			.menu_web {
				display: none;
			}
            form {
                .wrap {
                position: absolute;
                top: 70px;
                left: -120px;   
                }
            }
            .f_box {
                display: none;
            }
            .menuMo {
                display: block;
            }  
			.btnCall {
				display: block;
                background-color: #ccc;
                padding: 10px 10px;
                border-radius: 10px;
                top : 40px;
                position: fixed;
			}
		}
	} //---mobile-header
//------mobile-




    //------mobile- FOOTER_SUB-------
    #t_footer_sub {
        height: 100%;
        width: 100%;
        .container {
            padding: 20px 10px;
            .b_util {
                .f_link {
                    a {
                        font-size: 16px;
                        color: #fff;
                        padding: 20px 10px;
                    }
                }
            }
        }
    }  //---mobile-t_footer
}  //media-MOBILE