//...  Contents 영역 -->       
.join {
    height: 100%;
    margin-bottom: 30px;
    .inner {
        width: 1180px;
        height: 100%;
        margin: 0 auto;
        position: relative;

        h2 {
            font: $h2_font;
            font-weight: bolder;
            color: #555;
            margin-top: 30px;
            margin-bottom: 20px;
        }
        #terms {
            width: 100%;
            height: 150px;
            padding: 20px;
            font: $p_font;
            color: #888;
            background: #eee;
            margin-bottom: 20px;
            resize: none;
        }
        .agreement {
            margin-bottom: 70px;
            label[for="agree"]{
                font-size: 1vw;
            }
        }
        table {
            width: 100%;
            height: 100%;
            border-top: 3px solid #ccc;
            border-bottom: 3px solid #ccc;
            th {
                width: 20%;
                text-align: left;
                font: $h3_font;
                color: #fff;
                padding: 20px 30px;
                border-right: 1px solid #eee;
                border-bottom: 1px solid #eee;
                background: $shade0;
                &:last-child {
                    background: #fff;
                    text-align: center;
                    border-right: none;
                }
                input[type="submit"], input[type="reset"]{
                    width: 150px;
                    height: 50px;
                    border: none;
                    background: $shade20;
                    font: $d_font;
                    color: #fff;
                    border-radius: 5px;
                    margin-right: 10px;  
                }
            }
            td {
                border-bottom: 1px solid #bbb;
                font-size: 0;
                input[type="text"], input[type="password"]{
                    width: 30%;
                    height: 30px;
                    border: 1px solid #bbb;
                    background: $tint80;
                    padding-left: 20px;
                    margin-left: 20px;
                }
                input[type="text"], input[type="password"]::placeholder {
                    font-size: 1vw;
                }
                input[type="radio"]{
                    margin-right: 5px;
                }
                label {
                    margin-right: 20px;
                    margin-left: 20px;
                    font-size: 1.2vw;
                }
                .genderTxt, .levelTxt {
                    font: $k_font;
                    color: $shade20;
                    margin-top: 10px;
                    margin-left: 10px;
                }
                select#company {
                    width: 20%;
                    height: 30px;
                    border: 1px solid #bbb;
                    background: $tint80;
                    padding-left: 20px;
                    margin-left: 10px;
                }
                textarea#comments {
                    width: 95%;
                    height: 150px;
                    border: 1px solid #bbb;
                    background: $tint60;
                    padding: 20px;
                    margin: 20px;
                    resize: none;
                }
            }
        }
    }
   
}


//-----FOR TABLET
@media screen and (max-width: $tablet) {
    body {
        width: 100%;
        height: 100vh;
//----tablet - header_sub

.join {
    width: 100vw;
    height: 100%;
    .inner {
        width: 95%;
        height: 100%;
    }
}
// 	// tablet- footer_sub
    }
}


//------FOR MOBILE--------
@media screen and (max-width: $mobile) {
    .join {
        width: 100vw;
       
        .inner {
            width: 94%;
            h2 {
                font-size: 17px;
                margin-bottom: 10px;
            }
            #terms {
                margin-right: 20px;
                margin-bottom: 5px;

            }
            .agreement {
                margin-bottom: 30px;
            }
            table {
                width: 94%;
                th {
                    width: 10%;
                    padding: 5px 10px;
                    input[type="submit"], input[type="reset"]{
                        margin-right: 10px;  
                        width: 80px;
                        height: 25px;
                        font-size: 15px;
                    }
                }
                td {
                    input[type="text"], input[type="password"]{
                        width: 30%;
                        padding-left: 10px;
                        margin-left: 5px;
                    }
                    input[type="text"], input[type="password"]::placeholder {
                        font-size: 10px;
                    }
                    input[type="radio"]{
                        margin-right: 2px;
                    }
                    label {
                        margin-right: 10px;
                        margin-left: 5px;
                    }
                    .genderTxt, .levelTxt {
                        font-size: 15px;
                        color: $shade20;
                        margin-top: 5px;
                        margin-left: 5px;
                    }
                    select#company {
                        width: 40%;
                        padding-left: 5px;
                        margin-left: 5px;
                    }
                    textarea#comments {
                        width: 100%;
                        padding: 10px;
                        margin: 5px;
                        resize: none;
                    }
                }
            }
        }
       
    }
}





