.contact {
    width: 100%;
    height: 100%;
    .sub_visual {
        width: 1180px;
        height: 100px; 
        background : $tint80;
        margin: 10px auto;
        border-radius: 5px;
        overflow: hidden;
        h1 {
            font: $em_font;
            color: $shade60;
            line-height: 100px;
            position: absolute;
            margin-left: 20px;
            z-index: 3;
        }
        &::before {
            content: '';
            display: block;
            background: $tint60;
            width: 80px;
            height: 80px;
            float: left;
            margin-left: 30px;
            transform: rotate(45deg);
            transition: 3s;
            animation-name: box1;
            animation-duration: 3s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            &:hover {
                animation-play-state: paused;
            }
        }
        &::after {
            content: '';
            display: block;
            background: $tint40;
            width: 50px;
            height: 50px;
            float: right;
            margin-top: 55px;
            margin-right: 1020px;
            transform: rotate(45deg);
            animation-name: box1;
            animation-duration: 3s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            &:hover {
                animation-play-state: paused;
            }
        }
       @keyframes box1{
  0%{ opacity: 1; transform: rotate(0deg); }
  25%{ opacity: 0.5; transform: rotate(30deg); }
  50%{ opacity: 0.7; transform: rotate(90deg); }
  75%{ opacity: 0.4; transform: rotate(110deg); }
  100%{ opacity: 0.8; transform: rotate(180deg); }
    } 
       
    } //sub_visual
    .container {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 100px;
        &::after {
            content:'';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: url("../img/logo.png") no-repeat center;
            background-size: contain;
            z-index: -1;
            opacity: 0.1;
        }
        .contact-box {
            max-width: 1000px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            align-items: center;
            text-align: center;
            box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
            .left {
                height: 100%;
                background: url("../img/logo.png") no-repeat center;
                background-size: contain;
                transform: scale(0.8);
            }
            .right {
                padding: 25px 40px;
                h2 {
                    position: relative;
                    padding: 0 0 10px;
                    margin-bottom: 10px;
                    &::after {
                        content: '';
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        transform: translateX(-50%);
                        height: 4px;
                        width: 50px;
                        border-radius: 2px;
                        background-color: $shade0;
                    }
                }
                .field {
                    width: 100%;
                    padding: 0.5rem 1rem;
                    background-color: rgba(230, 230, 230, 0.6);
                    font-size: 1.1rem;
                    outline: none;
                    border: 2px solid rgba(0,0,0,0);
                    margin-bottom: 22px;
                    transition: 0.3s;
                    &:hover {
                        background-color: rgba(0,0,0,0.1);
                    }
                    &:focus {
                        background-color: #fff;
                        border: 2px solid $shade20;
                    }
                    
                }
                textarea {
                    min-height: 180px;
                }
                .btn {
                    width: 100%;
                    padding: 0.5rem 1rem;
                    font-size: 1.1rem;
                    background-color: $shade40;
                    cursor: pointer;
                    outline: none;
                    border: none;
                    color: #fff;
                    transition: 0.3s;
                    &:hover {
                        background-color: $shade60;
                    }
                }
            
            
            }
        }
    }
    .inner {
        margin: 50px auto;
        height: 100%;
        width: 100%;
        h1 {
            font: $em_font;
            text-align: center;
            margin-top: 40px;
        }
        #map {
            width: 1000px;
            height: 500px;
            border: 1px solid #999;
            margin: 40px auto;

        }
    }
} 
@media screen and (max-width: $mobile) {
.container {
    width: 100%;
    .contact-box {
        max-width: 500px;
        width: 100%;
        grid-template-columns: 1fr;
    }
    .left {
        height: 200px;
    }
    .right {
        
    }
}
}