#header_sub {
    width: 100%;
    // min-width: 1180px;
    height: 100px;
    margin-bottom: 30px;
    .container {
        width: 1180px;
        height: 100%;
        margin: 0 auto;
        position: relative; 
        a {
                font: bold 3.3vw 'Noto Sans', sans-serif;
                color: #222;
                padding: 0 20px;
                // display: block;
        }
    
//...header menu_web
        .menu_web {
            #gnb {
                bottom: 75px;
                height: 20px;
                position: absolute; 
                .menu { 
                    float: left;
                    width: 140px;
                    margin-top: 80px;
                    padding: 5px 30px 10px 15px;
                    z-index: 10;
                    text-align: center;
                    cursor: pointer;
                    &:hover, &:focus {
                        background: $shade0;
                        border-radius: 5px;
                        transition: all 0.5s;
                        >a {
                            font: bold 16px/1 "arial";
                            color: $shade60;
                            
                        }
                        .sub_menu1 {
                            display: block;
                            position: absolute;
                            margin-top: 10px;
                            margin-left: -15px;
                            background: #aaa;
                            border-radius: 5px;
                            cursor: pointer;
                            ul { 
                                
                                li {
                                    width: 140px;
                                    padding: 10px 10px 10px 25px;
                                    border-bottom: 1px dashed #ddd;
                                    text-align: left;
                                    font: bold 14px/1 "arial";
                                    color: #fff;
                                    

                                    &:last-child {
                                        border-bottom: none;
                                    }
                                    a:hover {  
                                        color: $shade0;
                                    }
                                    .fa-angle-right {
                                        float: right;
                                    }
                                    &.isSub:hover .sub_menu2 {
                                        position: absolute;
                                        display: block;
                                        background: $tint60;
                                        margin-top: -15px;
                                        margin-left: 160px;
                                        border-radius: 5px;
                                    }
                                } //li
                            } //ul
                        } //sub_menu_1
                    } //hover
                    
                    a { 
                        font: bold 15px/1 "arial";
                        color: #777;
                    } //a
                    .sub_menu1 {
                        display: none;
                        z-index: 9;
                        cursor: pointer;
                        a {
                            font: bold 14px/1 "arial";
                            color: #fff; 
                        }
                            .sub_menu2 {
                                display: none;
                                z-index: 10;
                                top: 50px;
                                left: -20px;
                                position: absolute;
                                cursor: pointer;
                                a {
                            font: bold 13px/1 "arial";
                            color: $shade20;
                                }
                            } //sub_menu2
                        } //sub_menu1
                } //menu
            } //gnb    
        } //menu_web

        .login {
            // position: relative;
            // transform: translate(-50%, -50%);
            #show-login {
                position: absolute;
                width: 60px;
                height: 32px;
                top: 0;
                right: 0;
                margin: 15px 20px;
                padding: 5px 10px;
                font-size: 1vw;
                font-weight: 600;
                color: $shade60;
                border: none;
                border-radius: 5px;
                box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.15); 
                cursor: pointer;  
                &:hover {
                    background: $tint40;
                } 
            }
            .popup {
                // display: none;
                position: absolute;
                top: 50%;
                left: 50%;
                // opacity: 0;
                transform: scale(1.25);
                width: 400px;
                padding: 20px 30px;
                margin-left: -200px;
                transform: translateY(-850px);
                background: #eee;
                border-radius: 10px;
                box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15); 
                transition: opacity 0.2s ease-in-out 0s, transform 0.3s ease-in-out 0s;
                z-index: 5;
                &.on {
                    // display: block;
                    
                    opacity: 1;
                    transform: scale(1) translateY(0px);    
                }
                .close-btn {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    width: 20px;
                    height: 20px;
                    color: #666;
                    background: #ccc;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 20px;
                    cursor: pointer;
                }
                .form {
                    h2 {
                    text-align: center;
                    color: #222;
                    margin: 10px 0 20px;
                    font: $em_font;
                    }
                    .form-element {
                        margin: 15px auto;
                        label {
                            font: $p_font;
                        }
                        input[type="text"], input[type="password"] {
                            margin-top: 5px;
                            display: block;
                            width: 100%;
                            padding: 10px;
                            outline: none;
                            border: 1px solid #ccc;
                            border-radius: 5px;
                        }
                        input[type="checkbox"] {
                            margin-left: 5px;
                        }
                        button {
                            width: 100%;
                            height: 50px;
                            font-size: 18px;
                            color: $shade40;
                            font-weight: 600;
                            background: $tint40;
                            border: none;
                            border-radius: 5px;
                            cursor: pointer;
                        }
                        .kakao {
                            width: 100%;
                            
                        }                          
                            
                    
                        > a {
                            font-size: 16px;
                            display: block;
                            text-align: right;
                            font-weight: 600;
                        }
                    }
                }
            }
        } //login
        .f_box {
                width: 300px;
                height: 100px;
                position: absolute;
                top: 0;
                margin: 70px 0px 10px; 
                right: 0;
                input[type=text] {
                    background-color: #fff;
                    width: 230px;
                    height: 40px; 
                    padding: 10px;
                    margin-right: -7px;
                    border: 1px solid $shade20;
                    border-radius: 25px 0 0 25px;
                    cursor: pointer;
                }
                input[type=text]::placeholder {
                    color: $shade0;
                    font-weight: bold;
                }
                input[type=submit] {
                    width: 60px;
                    height: 40px;
                    padding: 10px;
                    border: none;
                    background-color: $shade20;
                    border-radius: 0 25px 25px 0;
                    cursor: pointer;    
            }    //input
        }    //f_box       
        .btnCall {
			position: absolute;
			right: 30px;
			top: 50%;
			transform: translateY(-50%);
			display: none;
			width: 30px;
			height: 30px;
            z-index: 11;
			&::before {
				content: "";
				display: block;
				width: 80%;
				height: 3px;
				background: #444;
				position: absolute;
				top: 0;
				left: 5px;
                border-radius: 1.5px;
				transition: top 0.5s 0s, transform 0.5s 0.5s;
			}
			&::after {
				content: "";
				display: block;
				width: 80%;
				height: 3px;
				background: #444;
				position: absolute;
				bottom: 0;
				left: 5px;
                border-radius: 1.5px;
				transition: bottom 0.5s 0s, transform 0.5s 0.5s;
			}
			span {
				display: block;
				width: 80%;
				height: 3px;
				background: #666;
				position: absolute;
				top: 50%;
				left: 5px;
				margin-top: -1px;
				transition: 1s;
                border-radius: 1.5px;
				text-indent: -9999px;
			}
			&.on {
				&::before {
					top: 50%;
					margin-top: -1px;
					transform: rotate(45deg);
				}
				&::after {
					bottom: 50%;
					margin-bottom: -1px;
					transform: rotate(-45deg);
				}
				span {
					transform: translateX(100%);
					opacity: 0;
				}
			} //.on
		} //btnCall
//...header menuMo
        .menuMo {
			width: 220px;
			height: 100vh;
			background: #333;
			position: fixed;
			top: 0;
			left: -270px;
			padding: 35px 30px;
			z-index: 10;
			transition: 0.5s; 
            display: none;
			&.on {
				left: 0;
                } //menuMo &.on
                .menu {
                    margin: 20px auto;
                    padding: 10px 10px;
                    border-bottom: 3px solid $shade0;
                    border-radius: 1.5px;
                    a {
                        font-size: 18px;
                        color: #888;
                    }
                &:hover {
                    background: $shade0;
                    border-radius: 5px;
                    .sub_menu1 {
                        display: block;
                        position: absolute;
                        margin-top: 10px;
                        margin-left: 147px;
                        background: #ccc;
                        border-radius: 5px;
                        ul {
                            li {
                                width: 180px;
                                padding: 20px;
                                border-bottom: 1px dashed #ddd;
                                background: transparent;
                                align-items: center;
                                text-align: left;
                                font: 1.1rem 'Noto Sans', sans-serif;
                                color: #ccc;
                                &:last-child {
                                    border-bottom: none;
                                }
                                &:hover {  
                                    color: $shade0;
                                }
                                .fa-angle-right {
                                    float: right;
                                    font-size: 20px;
                                    color: #999;
                                }
                                &.isSub:hover .sub_menu2 {
                                    position: absolute;
                                    display: block;
                                    background: $tint60;
                                    margin-top: -65px;
                                    margin-left: 160px;
                                    border-radius: 5px;
                                    font: 1.0rem 'Noto Sans', sans-serif;
                                }
                            } //li
			        } //ul
                } //sub_menu1
            } //hover
        }   //on.menu      
        .close {
            display: block;
            z-index: 10;
            color: #999;
            font-size: 40px; 
            text-align: right;   
        }
            .sub_menu1 {
                display: none;
                
                .sub_menu2 {
                    display: none; 
                }
            } //sub_menu1		
			#gnbMo {
				li {
					a {
						display: block;
						width: 100%;
						padding: 20px 0;
						border-bottom: 1px solid #444;
						font: bold 14px/1 "arial";
						color: #888;
						text-align: center;
					}
				} //li
			} //#gnbMo
		} //menuMo
    } //container
    }

//...  Contents 영역 -->       
.content {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    .sub_visual {
        width: 1180px;
        height: 100px; 
        background : $tint80;
        margin: 10px auto;
        border-radius: 5px;
        overflow: hidden;
        h1 {
            font: $em_font;
            color: $shade60;
            line-height: 100px;
            position: absolute;
            margin-left: 20px;
            z-index: 3;
        }
        &::before {
            content: '';
            display: block;
            background: $tint60;
            width: 80px;
            height: 80px;
            float: left;
            margin-left: 30px;
            transform: rotate(45deg);
            transition: 3s;
            animation-name: box1;
            animation-duration: 3s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            &:hover {
                animation-play-state: paused;
            }
        }
        &::after {
            content: '';
            display: block;
            background: $tint40;
            width: 50px;
            height: 50px;
            float: right;
            margin-top: 55px;
            margin-right: 1020px;
            transform: rotate(45deg);
            animation-name: box1;
            animation-duration: 3s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            &:hover {
                animation-play-state: paused;
            }
        }
       @keyframes box1{
  0%{ opacity: 1; transform: rotate(0deg); }
  25%{ opacity: 0.5; transform: rotate(30deg); }
  50%{ opacity: 0.7; transform: rotate(90deg); }
  75%{ opacity: 0.4; transform: rotate(110deg); }
  100%{ opacity: 0.8; transform: rotate(180deg); }
    } 
       
    } //sub_visual
    .inner {
        width: 100%;
        height: 100%;
    }
}




// ...FOOTER_SUB ...
// ...FOOTER_SUB ...
#footer_sub {
    width: 100%;
    height: 100%;
    .b_util {
        width: 60%;
        margin: 20px auto;
        position: relative;
        display: flex;
        justify-content: right;
        p {
            font: $s_font;
            color: $shade0;
            transform: translateX(-600px) translateY(5px);
        }
        .f_link {
            a {
                font-size: 20px;
                color: $shade20;
                padding: 20px 15px;
            }
        }
            
    } //b_util
}

//-----FOR TABLET
@media screen and (max-width: $tablet) {
    body {
        width: 100%;
        height: 100vh;
//----tablet - header_sub
#header_sub {
    .container {
        width: 100vw;
        height: 5vh;
        margin-left: 10px;
        .menu_web {
            display: none;
        }
        .login {
            #show-login {
                margin-right: 150px;
            }
            .popup {
                margin-top: -150px;
            }
        }
        .f_box {
            display: none;
        }
        .menuMo {
            display: block;
        }  
        .btnCall {
            display: block;                
            padding: 20px 20px;
            border-radius: 10px;
            top : 40px;
            position: fixed;
        }
    }
} //-----tablet -header
//-----tablet -

.content {
    width: 100vw;
    height: 100%;
    .sub_visual {
        width: 96%;
        margin: 0 auto;
    }
    .inner {
        width: 96%;
        margin: 0 auto;
    }
    // margin-bottom: 100px;
}


// 	// tablet- footer_sub
#footer_sub {	
    width: 100%;
    height: 100%;	
    .b_util {
        
        p {
            
            transform: translateX(100px) translateY(5px);
        } 
    }
}// ---mobile-footer

    } //--tablet -body
    } //media-TABLET

//------FOR MOBILE--------
@media screen and (max-width: $mobile) {
//------mobile- HEADER_SUB-------
#header_sub {
    .container {
        width: 100%;
        height: 100vh;
        margin-left: 10px;
        a { 
            padding: 0;
        }
        .menu_web {
            display: none;
        }
        form {
            .wrap {
            position: absolute;
            top: 10px;
            left: 10px;  
            input[type=text] {
                width: 80px;
            }
            input[type=password] {
                width: 80px;
            }
            input[type=submit] {
                width: 11%;
            }
            img {
                position: absolute;
                margin-top: 15px;
                margin-right: -60px;
                width: 90px;
            }
            }
        }
        .f_box {
            display: none;
        }
        .menuMo {
            display: block;
        }  
        .btnCall {
            display: block;
            background-color: #ccc;
            padding: 10px 10px;
            border-radius: 10px;
            top : 40px;
            position: fixed;
        }
    }
} //---mobile-header_sub
//------mobile-




    //------mobile- FOOTER_SUB-------

}  //media-MOBILE


