* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    font-family: 'Noto Sans', sans-serif;
}
ul,ol,li {
    list-style: none;
}
a {
    text-decoration: none;
}


@import url(_reset.css);
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

#header {
    width: 100vw;
    .container {
        width: 1180px;
        height: 100px;
        margin: 0 auto;
        position: relative;
        display: flex;
        align-items: center;
        position: relative;
        h1 { 
            margin-top: -50px;
            padding: 0 20px;
            a {
                font: bold 32px/1 'Yanone Kaffeesatz', sans-serif;
                color: #444;
            }
        } //h1
        .menu_web {
            #gnb {
                top: 0;
                display: inline-flex;  
                .menu { 
                    width: 120px;
                    margin-top: 60px;
                    padding: 5px 30px 10px 15px;
                    z-index: 10;
                    cursor: pointer;
                    &:hover {
                        background: #8bd1c9;
                        .sub_menu1 {
                            display: block;
                            position: absolute;
                            margin-top: 10px;
                            margin-left: -15px;
                            background: #aaa;
                            ul {
                                li {
                                    width: 120px;
                                    padding: 10px;
                                    border-bottom: 1px dashed #ddd;
                                    background: transparent;
                                    text-align: left;
                                    font: 14px/1 "arial";
                                    color: #ccc;
                                    &:last-child {
                                        border-bottom: none;
                                    }
                                    a:hover {  
                                        color: #8bd1c9;
                                    }
                                    .fa-angle-right {
                                        float: right;
                                    }
                                    &.isSub:hover .sub_menu2 {
                                        position: absolute;
                                        display: block;
                                        background: #d0ece9;
                                        margin-top: -25px;
                                        margin-left: 160px;
                                    }
                                } //li
                            } //ul
                        } //sub_menu_1
                    } //hover
                    a { 
                        font: bold 16px/1 "arial";
                        color: #777;
                    } //a
                    .sub_menu1 {
                        display: none;
                        z-index: 9;
                        cursor: pointer;
                        a {
                            font: bold 14px/1 "arial";
                            color: #fff; 
                        }
                            .sub_menu2 {
                                display: none;
                                z-index: 10;
                                left: -40px;
                                position: absolute;
                                a {
                            font: bold 13px/1 "arial";
                            color: #6fa7a0;

                                }
                            } //sub_menu2
                        } //sub_menu1
                } //menu
            } //gnb    
        } //menu_web
        form {
            .container{
                top: 0;
                left: 50%;
                margin-top: 10px;
                margin-left: 140px;                   
                display: block;
                position: absolute;
                font-size: 15px;
            } 
        } //form
    } //inner
} //header

   
#gallery {
    // width: 100%;
    // height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    .container {
        margin-left: 200px;
        width: 590px;
        height: 500px;
        .album {     
            overflow: hidden;
            width: 100%;
            .images {
                position: relative;
                display: flex;
                object-fit: cover;
            img {
                }
            } //images
        } //album
        .btns {
            display: block;
            position: absolute;
            left: 50%;
            margin-left: -400px;
            bottom: 0;
            z-index: 10;    
            button, button:active, button:focus {
                width: 100px; height: 30px;
                border: none;
                color: white;
                background-color: rgba(246, 237, 103, 0.5);
                outline: none; 
            }
            button:hover {
                background-color: #e5dc2d;
            }
            button:disabled {
                background-color: rgba(247, 214, 31, 0.5);
            }
            .prev{
                float: left;
            }
            .next{
                float: right;
            }
        } //btns   
    } //container1               
    .container {  
        margin-left: 0;
        .v_box {
            width: 590px;
            height: 500px;
            padding: 60px 100px;
            display: block;                
            background-color: black;
            color: #fff;
            h1 {
                font: bold 40px/50px 'Noto Sans', sans-serif;
            }
            h4 {
                font: normal 14px/24px 'Nanum Gothic', sans-serif;
                margin-top: 10px;
            }
            a {
                font-size: 50px;
                color: #fff;
                span {
                    font: normal 12px/65px 'Nanum Gothic', sans-serif;
                    margin-left: 10px;
                    position: absolute;
                }
            } //a      
        } //v_box     
    } //container2         
} //gallery

#article {
    .container {
        width: 1180px;
        height: 400px;
        position: relative;
        display: flex;
        margin: 0 auto;
        background-color: #6fa7a0;
        .article {
            width: calc(100% / 3);
            height: 100%;
            font: normal 13px/27px 'Noto Sans', sans-serif;
            color: #fff;                   
            position: relative;
            padding: 100px 15px;
                a {
                    font-size: 50px;
                    color: #fff;    
                }
                h4 {
                    font: normal 14px/24px 'Nanum Gothic', sans-serif;
                    margin-top: 15px;
                    margin-bottom: 20px;
                }
                p {
                    font: 15px/27px 'Noto Sans', sans-serif; 
                }
                &:nth-of-type(1) {
                margin-left: 100px;
                }
                &:nth-of-type(2) {                        
                }
                &:nth-of-type(3) {
                margin-right: 100px;    
                }
            } //article
        } //inner
    } //article

#brand {
    .container {
        width: 100%;
        position: relative;
        overflow: hidden;
        display: flex;
        .wrap {
            height: 500px;  
            margin: 0 auto;        
            display: flex;
            justify-content: center;
            align-items: center;
            .txt {
                width: 590px;
                height: 500px;
                background-color: rgb(243, 69, 81);
                h2 {
                }
                p {
                }
                a {
                }
            } //txt
            .pic {
                width: 590px;
                height: 500px;
                background-color:rgb(143, 177, 252);
            } //p
        } //wrap
    } //inner
} //brand

#util {
    position: relative;
    margin: 0 auto;
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        .link{
            background-color: rgb(123, 128, 169);
            height: 300px;
            width: 1180px;
            li {
                i {
                }
            }
        } //link
    } //container
} //util

#footer {
    margin: 0 auto;
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .box1 {
            height: 300px;
            width: calc(1180px / 3);
            background-color: rgb(205, 187, 50);
            h1 {
            }
            ul {
                li {
                    h3 {
                    }
                    p {
                    }
                }
            } //ul
        } //box1
        .box2 {
            height: 300px;
            width: calc(1180px / 3);
            background-color: rgb(166, 151, 37);
            h4 {
            } //h4
            ul {
                li{
                    p {
                    }
                }
            } //ul
        } //box2
        .search {
            height: 300px;
            width: calc(1180px / 3);
            background-color: rgb(37, 110, 166);
            .f_box {
                h3 {
                }
            }
            .cont {
                p {
                }
                .b_util {
                    li {
                        a {
                        }
                    }
                } //b_util
            } //cont
        } //container
        
    } //container
} //footer

           
        
    