@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

@import "reset.scss";
@import "sub_layout.scss";
@import "gallery.scss";
@import "details1.scss";
@import "details2.scss";

@import "gallery2.scss";
@import "gallery3.scss";
@import "gallery4.scss";
@import "faq.scss";
@import "test1.scss";
@import "location.scss";
@import "join.scss";
@import "profile.scss";
@import "welcome.scss";


// @import "community.scss";

// @import "department.scss";

// @import "join.scss";
// @import "location.scss";
// @import "youtube.scss";



//...HEADER ...
    #header {
    width: 100%;
    // min-width: 1180px;
    height: 100px;
    .container {
        width: 1180px;
        height: 100%;
        margin: 0 auto;
        position: relative; 
        a {
                font: bold 3.3vw 'Noto Sans', sans-serif;
                color: #222;
                padding: 0 20px;
                // display: block;
        }
    
//...header menu_web
        .menu_web {
            #gnb {
                bottom: 75px;
                height: 20px;
                position: absolute; 
                .menu { 
                    float: left;
                    width: 140px;
                    margin-top: 80px;
                    padding: 5px 30px 10px 15px;
                    z-index: 10;
                    text-align: center;
                    cursor: pointer;
                    &:hover, &:focus {
                        background: $shade0;
                        border-radius: 5px;
                        transition: all 0.5s;
                        >a {
                            font: bold 16px/1 "arial";
                            color: $shade60;
                            
                        }
                        .sub_menu1 {
                            display: block;
                            position: absolute;
                            margin-top: 10px;
                            margin-left: -15px;
                            background: #aaa;
                            border-radius: 5px;
                            cursor: pointer;
                            ul { 
                                
                                li {
                                    width: 140px;
                                    padding: 10px 10px 10px 25px;
                                    border-bottom: 1px dashed #ddd;
                                    text-align: left;
                                    font: bold 14px/1 "arial";
                                    color: #fff;
                                    

                                    &:last-child {
                                        border-bottom: none;
                                    }
                                    a:hover {  
                                        color: $shade0;
                                    }
                                    .fa-angle-right {
                                        float: right;
                                    }
                                    &.isSub:hover .sub_menu2 {
                                        position: absolute;
                                        display: block;
                                        background: $tint60;
                                        margin-top: -15px;
                                        margin-left: 160px;
                                        border-radius: 5px;
                                    }
                                } //li
                            } //ul
                        } //sub_menu_1
                    } //hover
                    
                    a { 
                        font: bold 15px/1 "arial";
                        color: #777;
                    } //a
                    .sub_menu1 {
                        display: none;
                        z-index: 9;
                        cursor: pointer;
                        a {
                            font: bold 14px/1 "arial";
                            color: #fff; 
                        }
                            .sub_menu2 {
                                display: none;
                                z-index: 10;
                                top: 50px;
                                left: -20px;
                                position: absolute;
                                cursor: pointer;
                                a {
                            font: bold 13px/1 "arial";
                            color: $shade20;
                                }
                            } //sub_menu2
                        } //sub_menu1
                } //menu
            } //gnb    
        } //menu_web

        .login {
            // position: relative;
            // transform: translate(-50%, -50%);
            #show-login {
                position: absolute;
                width: 60px;
                height: 32px;
                top: 0;
                right: 0;
                margin: 15px 20px;
                padding: 5px 10px;
                font-size: 1vw;
                font-weight: 600;
                color: $shade60;
                border: none;
                border-radius: 5px;
                box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.15); 
                cursor: pointer;  
                &:hover {
                    background: $tint40;
                } 
            }
            .popup {
                // display: none;
                position: absolute;
                top: 50%;
                left: 50%;
                opacity: 0;
                transform: scale(1.25);
                width: 400px;
                padding: 20px 30px;
                margin-left: -200px;
                margin-top: 150px;
                background: #eee;
                border-radius: 10px;
                box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15); 
                transition: opacity 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0s;
                z-index: 7;
                &.on {
                    // display: block;
                    opacity: 1;
                    transform: scale(1);    
                }
                .close-btn {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    width: 20px;
                    height: 20px;
                    color: #666;
                    background: #ccc;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 20px;
                    cursor: pointer;
                }
                .form {
                    h2 {
                    text-align: center;
                    color: #222;
                    margin: 10px 0 20px;
                    font: $em_font;
                    }
                    .form-element {
                        margin: 15px auto;
                        label {
                            font: $p_font;
                        }
                        input[type="text"], input[type="password"] {
                            margin-top: 5px;
                            display: block;
                            width: 100%;
                            padding: 10px;
                            outline: none;
                            border: 1px solid #ccc;
                            border-radius: 5px;
                        }
                        input[type="checkbox"] {
                            margin-left: 5px;
                        }
                        button {
                            width: 100%;
                            height: 50px;
                            font-size: 18px;
                            color: $shade40;
                            font-weight: 600;
                            background: $tint40;
                            border: none;
                            border-radius: 5px;
                            cursor: pointer;
                        }
                        .kakao {
                            width: 100%;
                            
                        }                          
                            
                    
                        > a {
                            font-size: 16px;
                            display: block;
                            text-align: right;
                            font-weight: 600;
                        }
                    }
                }
            }
        } //login
        .f_box {
                width: 300px;
                height: 100px;
                position: absolute;
                top: 0;
                margin: 70px 0px 10px; 
                right: 0;
                input[type=text] {
                    background-color: #fff;
                    width: 230px;
                    height: 40px; 
                    padding: 10px;
                    margin-right: -7px;
                    border: 1px solid $shade20;
                    border-radius: 25px 0 0 25px;
                    cursor: pointer;
                }
                input[type=text]::placeholder {
                    color: $shade0;
                    font-weight: bold;
                }
                input[type=submit] {
                    width: 60px;
                    height: 40px;
                    padding: 10px;
                    border: none;
                    background-color: $shade20;
                    border-radius: 0 25px 25px 0;
                    cursor: pointer;    
            }    //input
        }    //f_box       
        .btnCall {
			position: absolute;
			right: 30px;
			top: 50%;
			transform: translateY(-50%);
			display: none;
			width: 30px;
			height: 30px;
            z-index: 11;
			&::before {
				content: "";
				display: block;
				width: 80%;
				height: 3px;
				background: #444;
				position: absolute;
				top: 0;
				left: 5px;
                border-radius: 1.5px;
				transition: top 0.5s 0s, transform 0.5s 0.5s;
			}
			&::after {
				content: "";
				display: block;
				width: 80%;
				height: 3px;
				background: #444;
				position: absolute;
				bottom: 0;
				left: 5px;
                border-radius: 1.5px;
				transition: bottom 0.5s 0s, transform 0.5s 0.5s;
			}
			span {
				display: block;
				width: 80%;
				height: 3px;
				background: #666;
				position: absolute;
				top: 50%;
				left: 5px;
				margin-top: -1px;
				transition: 1s;
                border-radius: 1.5px;
				text-indent: -9999px;
			}
			&.on {
				&::before {
					top: 50%;
					margin-top: -1px;
					transform: rotate(45deg);
				}
				&::after {
					bottom: 50%;
					margin-bottom: -1px;
					transform: rotate(-45deg);
				}
				span {
					transform: translateX(100%);
					opacity: 0;
				}
			} //.on
		} //btnCall
//...header menuMo
        .menuMo {
			width: 220px;
			height: 100vh;
			background: #333;
			position: fixed;
			top: 0;
			left: -270px;
			padding: 35px 30px;
			z-index: 10;
			transition: 0.5s; 
            display: none;
			&.on {
				left: 0;
                } //menuMo &.on
                .menu {
                    margin: 20px auto;
                    padding: 10px 10px;
                    border-bottom: 3px solid $shade0;
                    border-radius: 1.5px;
                    a {
                        font-size: 18px;
                        color: #888;
                    }
                &:hover {
                    background: $shade0;
                    border-radius: 5px;
                    .sub_menu1 {
                        display: block;
                        position: absolute;
                        margin-top: 10px;
                        margin-left: 147px;
                        background: #ccc;
                        border-radius: 5px;
                        ul {
                            li {
                                width: 180px;
                                padding: 20px;
                                border-bottom: 1px dashed #ddd;
                                background: transparent;
                                align-items: center;
                                text-align: left;
                                font: 1.1rem 'Noto Sans', sans-serif;
                                color: #ccc;
                                &:last-child {
                                    border-bottom: none;
                                }
                                &:hover {  
                                    color: $shade0;
                                }
                                .fa-angle-right {
                                    float: right;
                                    font-size: 20px;
                                    color: #999;
                                }
                                &.isSub:hover .sub_menu2 {
                                    position: absolute;
                                    display: block;
                                    background: $tint60;
                                    margin-top: -65px;
                                    margin-left: 160px;
                                    border-radius: 5px;
                                    font: 1.0rem 'Noto Sans', sans-serif;
                                }
                            } //li
			        } //ul
                } //sub_menu1
            } //hover
        }   //on.menu      
        .close {
            display: block;
            z-index: 10;
            color: #999;
            font-size: 40px; 
            text-align: right;   
        }
            .sub_menu1 {
                display: none;
                
                .sub_menu2 {
                    display: none; 
                }
            } //sub_menu1		
			#gnbMo {
				li {
					a {
						display: block;
						width: 100%;
						padding: 20px 0;
						border-bottom: 1px solid #444;
						font: bold 14px/1 "arial";
						color: #888;
						text-align: center;
					}
				} //li
			} //#gnbMo
		} //menuMo
    } //container
    }
//...GALLERY ...   


.main {
    width: 1180px;
    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 100px 0;
        .col-1 {
            flex-basis: 40%;
            position: relative;
            margin-left: 50px;
            &::after {
                content: '';
                width: 10px;
                height: 65%;
                background: linear-gradient(#8bd1c9, #6fa7a0);
                position: absolute;
                left: -40px;
                top: 8px;
            }
            h2 {
                font-size: 3.5vw;
                transition: 0.5s;
                span {
                    display: inline-block;
                    &:nth-of-type(1) {
                        color: $shade0;
                        transform: translateY(0px) scale(1.4);
                    }
                    &:nth-of-type(2) {
                        color: $shade20;
                        transform: translateY(10px) scale(1.2);
                    }
                    &:nth-of-type(3) {
                        color: $shade40;
                        transform: translateY(15px) scale(1.2);
                    }
                    &:nth-of-type(4) {
                        color: $tint40;
                        transform: translateY(-5px) scale(1.2);
                    }
                    &:nth-of-type(5) {
                        color: $shade0;
                        transform: translateY(5px) scale(1.2);
                    }
                }
            }
            h3 {
                font-size: 3.2vw;
                color: #555;
            }
            h4 {
                font-size: 2.5vw;
                font-weight: 100;
                color: #bbb;
                margin: 20px 0 10px;
            }
            p {
                font: $d_font;
                color: $shade0;
                margin: 30px 0;
            }
            button {
                width: 140px;
                border: 0;
                padding: 12px 10px;
                outline: none;
                background: linear-gradient(to right, #d0ece9, #6fa7a0);
                border-radius: 6px;
                cursor: pointer;
                transition: width 0.5s;
                > a {
                    color: #fff;
                }
                &:hover {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    > a {
                        color: #555;
                    }
                    img {
                        display: block;
                    }
                }
                img {
                    width: 30px;
                    display: none;
                    margin-left: 50px;
                }
                
            } //button
        } //col-1
        .col-2 {
            position: relative;
            flex-basis: 60%;
            display: flex;
            align-items: center;
            .logo {
                width: 50%;
                transform: translateX(250px);
            }
            .color-box {
                height: 140%;
                width: 70%;
                position: absolute;
                top: 0;
                right: 20px;
                border: 151px dotted $tint80;
                // background: #eee; 
                border-radius: 15%;
                z-index: -1;
                transform: translateY(-50px);
            }   
        } //col-2
        
    } //row
}  //main
    
#visual {
    width: 1180px;
    height: calc(50vh - 121px);
    overflow: hidden;
    background: $shade40;  
    margin: 0 auto;
    border-radius: 10px;
    video {
        width: 100%;
        height: 50%;
        object-fit: cover;
        opacity: 0.15;
  
    }
    #slider {
        width: 100%;
        position: relative;
        background-color: #375350;  
        .slider_item {
             width: 100%;
             height: 200px;
             display: flex;
             justify-content: center;
             align-items: center;
             color: $tint80; 
             position: absolute;
             top: -55px;
             z-index: 0;
             opacity: 0;
             transition: opacity 0.9s ease-in-out;
             transform: scale(0.99);
             
             h1 {
                font: $em_font;
                margin-top: -100px;
             }
             p {
                font: $p_font;
                margin-top: -90px;

             }
             &:nth-child(odd) {
                background-color: #2b5a55;
                color: #222;  
             }
             &:nth-child(even) {
                background-color: $shade60; 
                color: #ccc;
             }  
        }
        .showing {
             z-index: 1;
             opacity: 1;
             transform: none;
         }
     } //slider
}  //visual


//...SECTION-M_UTIL ...
#m_util {
    width: 100%;
    // min-width: 1180px;
    height: 100%;
    .container {
        width: 1180px;
        height: 100px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: relative;
        .link{
            a {
            font-size: 60px;
            color: $shade60;
            margin: 100px 50px;
            cursor: pointer;
            }
        } //link
    } //container
} //...SECTION-M_UTIL ...
//...FOOTER ...
#footer {
    width: 100%;
    // min-width: 1180px;
    height: 350px;
    overflow: hidden;
    .container {
        width: 1180px;
        height: 100%; 
        display: flex;
        flex-wrap: wrap;
        position: relative;
        justify-content: center;
        margin: 0 auto; 
        color: #fff;
        border-radius: 10px;
        background-color: #777;
        box-shadow: 0 0 10px (0,0,0,0.1);
        .article1 {
            width: 380px;
            height: 350px;
            background-color: #777;               
            padding: 50px 25px;
            border-radius: 10px;
            box-shadow: 0 0 10px (0,0,0,0.1);
                a {
                    font: $em_font;
                    color: #fff;    
                }
                li {
                    h3 {
                        font: $h3_font;
                        margin-top: 15px;
                        margin-bottom: 20px;
                    }
                    p {
                        font: $p_font; 
                    }
                } //li
            } //article1
        .article2 {
            background-color: #777;
            width: 380px;
            margin: 0 20px;
            padding: 50px 25px;
            border-radius: 10px;
            box-shadow: 0 0 10px (0,0,0,0.1);
            h4 {
                font: $h4_font;
                margin-top: 15px;
                margin-bottom: 20px; 
            }
            li {
                h3 {
                    font: $h3_font;
                    margin-top: 15px;
                    margin-bottom: 20px;
                }
                p {
                    font: $p_font; 
                }
            }
        } //article2
        .article3 {
            width: 380px;
            
            border-radius: 10px;
            background-color: #777;
            box-shadow: 0 0 10px (0,0,0,0.1);
            p {
                font: $p_font;
                padding: 50px 30px;   
            }
            .b_util {
                width: 380px;
                margin: 30px auto;
                position: relative;
                display: flex;
                justify-content: center;
               
                .f_link {
                    a {
                        font-size: 25px;
                        color: #fff;
                        padding: 20px 10px;
                    }
                }
                    
            } //b_util
            } //f_box
        } //article3
        } //...FOOTER ...
//tablet,mobile -T_FOOTER
#t_footer {
    display: none;
    // width: 90%;
    height: 250px;
    .container {
        width: 100vw;
        position: relative;
        text-align: center;
        margin: 0 auto; 
        display: block;
        float: center;
        color: #fff;
        border-radius: 10px;
        background-color: #444;
        box-shadow: 0 0 10px (0,0,0,0.1);
        a {
            font: $d_font;
            color: #fff;    
        }
        li {
            h3 {
                font: $h3_font;
                margin-top: 10px;
                margin-bottom: 20px;
            }
            p {
                font: $p_font; 
            }
        } //li
        .b_util {
            width: 60%;
            margin: 20px auto;
            position: relative;
            display: flex;
            justify-content: center;
            .f_link {
                a {
                    font-size: 20px;
                    color: #fff;
                    padding: 20px 10px;
                }
            }
                
        } //b_util
    }
} //...-T_FOOTER ...

//-----FOR TABLET
@media screen and (max-width: $tablet) {
    body {
        width: 100%;
        height: 100vh;
        margin: 0 auto;
//----tablet -header
	#header {
		.container {
			width: 100vw;
			height: 100vh;
            margin-left: 30px;
			.menu_web {
				display: none;
			}
            .login {
                #show-login {
                    margin-right: 150px;
                }
                .popup {
                    margin-top: -150px;
                }
            }
            .f_box {
                display: none;
            }
            .menuMo {
                display: block;
            }  
			.btnCall {
				display: block;                
                padding: 20px 20px;
                border-radius: 10px;
                top : 40px;
                position: fixed;
			}
		}
	} //-----tablet -header
    .main {
        width: 100%;
        .col-2 {
            .color-box {
                border: none;
            }
        }
        
    }
//-----tablet -figure-gallery
#visual {
    width: 96%;
    height: 50vh;
    margin: 1% 2%;
    #slider {
        width: 100%;
        height: 100px;
        slider_item {
            width: 100%;  
        }
    }
}
#v_box {
        width: 100%;
        height: 220px;
        margin: 10px auto;
        // position: relative;
        // margin: 0;
        .container {
            width: 96%;
            padding: 20px 20px;     
        } //container
    } //-----tablet -figure-gallery
//-----tablet -article
	#article {
        width: 96vw;
        height: 400px;
        margin-bottom: 10px;
		.container {
			background-color: #fff;
            width: 100%;
            height: 100%;
            justify-content: space-around;
            margin-left: 15px;
			.atc_box {
                // display: block;
				a {
                    font-size: 25px; 
                }
                &:nth-of-type(1) {
                    width: 48%; 
                    margin: 0 1%;
                    // margin-left: 1%;
                    // float: left;
                }
                &:nth-of-type(2) { 
                    width: 48%; 
                    margin: 0 1%;

                    // float: right;                      
                }
                &:nth-of-type(3) {
                    display: none;
				}
			}
		}
	} //----tablet -article

//-----tablet -brand
	#brand {
		.container {
			width: 100%;
            height: 100%;
            margin: 0 auto; 
            .txt_l {
            width: 96%;
            float: center;
            margin: 1% 2%;
            height: 200px;
            padding: 30px 60px;
            padding-bottom: 0;
            a {
                line-height: 30px;
            }
            }
			.txt_r1 {
            width: 96%;
            margin: 1% 2%;
            float: center;
            // margin-bottom: 10px;
            a {
                line-height: 30px;
            }
            }
            .txt_r2 {
            width: 96%;
            margin: 1% 2%;
            float: center;
            // margin-top: 10px;
            a {
                line-height: 30px;
            }
            }		
		}
	}  //-----tablet -brand
//-------tablet- util
	#m_util {
        // display: none;
        height: 350px;
        margin : 0;
        // z-index: 8;
		.container {
            width: 100%;
            height: 100px;
            margin: 0 auto;
            overflow: hidden;
            .link {
                margin: 0;
                a {
                    font-size: 30px;
                    margin: 0px 20px;
                    padding: 0px 10px;
                }
            }     
		}
	} //---mobile-m_util
	
// 	// tablet- footer

	#footer {		
        display: none;
}// ---mobile-footer
// 	// tablet- t_footer
    #t_footer {
        display: block;
        width: 96%;
        height: 200px;
        .container {
            width: 100%;
            margin: 0 2%;
            height: 100%;
            padding-top: 20px;
            // height: 300px;
            // width: 100%;
            h1 {
                // font: 20px/30px 'Noto Sans', sans-serif;   
                margin-top: 0;
                padding: 0;
                }
            }   
        } //---mobile-t-footer
    } //--tablet -body
    } //media-TABLET

//------FOR MOBILE--------
@media screen and (max-width: $mobile) {
//------mobile-HEADER-------
    #header {
		.container {
			width: 100%;
			height: 100vh;
            margin-left: 10px;
            a { 
                padding: 0;
            }
			.menu_web {
				display: none;
			}
            .f_box {
                display: none;
            }
            .menuMo {
                display: block;
            }  
			.btnCall {
				display: block;
                background-color: #ccc;
                padding: 10px 10px;
                border-radius: 10px;
                top : 40px;
                position: fixed;
			}
		}
	} //---mobile-header
    .main {
        width: 100%;
        .col-1 {
            flex-basis: 100%;
            margin-left: 10px;
        }
        .col-2 {
            flex-basis: 100%;
            transform: translateX(-50px);
            .color-box {
                border: none;
            }
        }
    }
//------mobile-visual-------
#visaul {
    width: 96vw;
}
#v_box {
    width: 96%;
    display: block;
    .container {
        height: 100%;
       
        a {
        font-size: 25px;
    }  
    }
}
//------mobile-ARTICLE-------
    #article {
        width: 100vw;
        height: 100vh;
        .container {
            width: 96%;
            height: 100%;
            // display: block;
            margin: 0 auto;
            padding: 0;
            // overflow: hidden;
            
        }
    } //---mobile-article
//------mobile-BRAND-------
    #brand {
        .container {
            height: 100vh;    
        }   
    } //---mobile-brand
//------mobile-UTIL-------
    #m_util {
        display: block;
        .container {
            width: 100%;
            .link {
                margin: 0px auto;
                i {
                    font-size: 24px;
                }    
            }   
        }  
    } //---mobile-m_util
    //------mobile-FOOTER-------
    #t_footer {
        height: 100%;
        width: 100%;
        .container {
            padding: 20px 10px;
            .b_util {
                .f_link {
                    a {
                        font-size: 16px;
                        color: #fff;
                        padding: 20px 10px;
                    }
                }
            }
        }
    }  //---mobile-t_footer
}  //media-MOBILE


